{# templates/dons/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page de Dons{% endblock %}

{% block body %}
    <h1>Faire un don</h1>
    <p>Cette page est dédiée aux dons.</p>
    {# Ajoutez ici le formulaire de don ou toute autre information nécessaire #}
{% endblock %}
